* {
    box-sizing: border-box;
}

:root {
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
    --Linear-Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%);
    --base-font-size: 15px;
}

html {
    font-size: var(--base-font-size);
}

body {
    background-image: url(bg-top.svg), url(bg-bottom.svg);
    background-position: right top, left bottom;
    background-repeat: no-repeat, no-repeat;
    background-color: var(--Very-Light-Grayish-Blue);
    /* height: 100vh; */
}

/* Mobile view */

.big-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardsContainer {
    display: flex;
    align-items: center;
}

.card,
.card1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 20px;
    justify-content: space-evenly;
    border-radius: 10px;
}

.card-text1,
.card-text,
.learn,
.learn1,
.card-text-b,
.card-text1-b1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.main-heading {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 90px;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 700;
}

.card-price1,
.card-price {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.learn,
.learn1 {
    align-self: center;
    margin-top: 30px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-left: 50px;
    padding-right: 50px;
}

.card-text-b,
.card-price,
.card-text1-b1,
.card-price1 {
    border-bottom: 1px solid grey;
}

.card-text,
.card-text1 {
    margin-bottom: 20px;
}

.card-price,
.card-price1 {
    padding-top: 15px;
    padding-bottom: 30px;
}

.card-text-b,
.card-text1-b1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Adding a gradient over buttons */

.learn,
.learn1 {
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border: 0px;
}

.card:hover,
.card1:hover {
    color: rgb(255, 255, 255);
    /* padding-top: 35px;
    padding-bottom: 35px; */
    transform: scaleY(1.1);
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.cardsContainer:hover {
    display: flex;
    align-items: center;
}

.card:hover .card-text-b,
.card:hover .card-price {
    border-bottom: 1px solid rgb(230, 221, 221);
}

.card1:hover .card-text1-b1,
.card1:hover .card-price1 {
    border-bottom: 1px solid rgb(230, 221, 221);
}

.card:hover>.learn {
    background-image: linear-gradient(hsl(240, 3%, 77%), hsl(240, 3%, 56%));
    margin-top: 30px;
}

.card1:hover>.learn1 {
    background-image: linear-gradient(hsl(240, 3%, 77%), hsl(240, 3%, 56%));
    margin-top: 30px;
}

@media (max-width: 720px) {
    .cardsContainer {
        display: flex;
        flex-direction: column;
    }

    .card,
    .card1 {
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        transform: none;
    }

    body {
        height: 280vh;
    }
}